 body{
      
    background-color:black;      
     font-family: Arial, Helvetica, sans-serif;
    }
      
h1{
  font-size: xx-large;
  text-align: center;
color:grey;}

.box{
    margin-left:100px;
    background:white;
    width: 500px;
    height: 250px ;
}
#range{
  
  margin-bottom: 100px;
}
#principal{
  margin-left: 70px;
}
#rate{
  margin-left: 40px;
} 
#years{
  margin-left: 40px;
}
.general {
  margin-left:350px;
  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 600px;
  height: 400px
}

